In [3]:
%pip install yfinance
%pip install tqdm

Collecting yfinance
  Obtaining dependency information for yfinance from https://files.pythonhosted.org/packages/14/03/3c854ca3e02eedf614abba4b2e177c469bf3af58207fa30d5098c5d652fe/yfinance-0.2.37-py2.py3-none-any.whl.metadata
  Using cached yfinance-0.2.37-py2.py3-none-any.whl.metadata (11 kB)
Collecting pandas>=1.3.0 (from yfinance)
  Obtaining dependency information for pandas>=1.3.0 from https://files.pythonhosted.org/packages/71/00/6beaeeba7f075d15ea167a5caa039b861e58ff2f58a5b659abb9b544c8f6/pandas-2.2.1-cp312-cp312-win_amd64.whl.metadata
  Using cached pandas-2.2.1-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.16.5 (from yfinance)
  Obtaining dependency information for numpy>=1.16.5 from https://files.pythonhosted.org/packages/16/2e/86f24451c2d530c88daf997cb8d6ac622c1d40d19f5a031ed68a4b73a374/numpy-1.26.4-cp312-cp312-win_amd64.whl.metadata
  Using cached numpy-1.26.4-cp312-cp312-win_amd64.whl.metadata (61 kB)
Collecting requests>=2.31 (from yfinance)
  Obtaining dependency information for requests>=2.31 from https://files.pythonhosted.org/packages/70/8e/0e2d847013cb52cd35b38c009bb167a1a26b2ce6cd6965bf26b47bc0bf44/requests-2.31.0-py3-none-any.whl.metadata
  Using cached requests-2.31.0-py3-none-any.whl.metadata (4.6 kB)
Collecting multitasking>=0.0.7 (from yfinance)
  Obtaining dependency information for multitasking>=0.0.7 from https://files.pythonhosted.org/packages/3e/8a/bb3160e76e844db9e69a413f055818969c8acade64e1a9ac5ce9dfdcf6c1/multitasking-0.0.11-py3-none-any.whl.metadata
  Using cached multitasking-0.0.11-py3-none-any.whl.metadata (5.5 kB)
Collecting lxml>=4.9.1 (from yfinance)
  Obtaining dependency information for lxml>=4.9.1 from https://files.pythonhosted.org/packages/da/94/3db32e59a89261b7ad19507c5192e11bd72ebeb384e7709703adabab422f/lxml-5.2.0-cp312-cp312-win_amd64.whl.metadata
  Using cached lxml-5.2.0-cp312-cp312-win_amd64.whl.metadata (4.0 kB)
Collecting appdirs>=1.4.4 (from yfinance)
  Obtaining dependency information for appdirs>=1.4.4 from https://files.pythonhosted.org/packages/3b/00/2344469e2084fb287c2e0b57b72910309874c3245463acd6cf5e3db69324/appdirs-1.4.4-py2.py3-none-any.whl.metadata
  Using cached appdirs-1.4.4-py2.py3-none-any.whl.metadata (9.0 kB)
Collecting pytz>=2022.5 (from yfinance)
  Obtaining dependency information for pytz>=2022.5 from https://files.pythonhosted.org/packages/9c/3d/a121f284241f08268b21359bd425f7d4825cffc5ac5cd0e1b3d82ffd2b10/pytz-2024.1-py2.py3-none-any.whl.metadata
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting frozendict>=2.3.4 (from yfinance)
  Using cached frozendict-2.4.1-cp312-cp312-win_amd64.whl
Collecting peewee>=3.16.2 (from yfinance)
  Using cached peewee-3.17.1-py3-none-any.whl
Collecting beautifulsoup4>=4.11.1 (from yfinance)
  Obtaining dependency information for beautifulsoup4>=4.11.1 from https://files.pythonhosted.org/packages/b1/fe/e8c672695b37eecc5cbf43e1d0638d88d66ba3a44c4d321c796f4e59167f/beautifulsoup4-4.12.3-py3-none-any.whl.metadata
  Using cached beautifulsoup4-4.12.3-py3-none-any.whl.metadata (3.8 kB)
Collecting html5lib>=1.1 (from yfinance)
  Obtaining dependency information for html5lib>=1.1 from https://files.pythonhosted.org/packages/6c/dd/a834df6482147d48e225a49515aabc28974ad5a4ca3215c18a882565b028/html5lib-1.1-py2.py3-none-any.whl.metadata
  Using cached html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Collecting soupsieve>1.2 (from beautifulsoup4>=4.11.1->yfinance)
  Obtaining dependency information for soupsieve>1.2 from https://files.pythonhosted.org/packages/4c/f3/038b302fdfbe3be7da016777069f26ceefe11a681055ea1f7817546508e3/soupsieve-2.5-py3-none-any.whl.metadata
  Using cached soupsieve-2.5-py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: six>=1.9 in c:\users\owner\.pyenv\pyenv-win\versions\3.12.1\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Collecting webencodings (from html5lib>=1.1->yfinance)
  Obtaining dependency information for webencodings from https://files.pythonhosted.org/packages/f4/24/2a3e3df732393fed8b3ebf2ec078f05546de641fe1b667ee316ec1dcf3b7/webencodings-0.5.1-py2.py3-none-any.whl.metadata
  Using cached webencodings-0.5.1-py2.py3-none-any.whl.metadata (2.1 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\owner\.pyenv\pyenv-win\versions\3.12.1\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Collecting tzdata>=2022.7 (from pandas>=1.3.0->yfinance)
  Obtaining dependency information for tzdata>=2022.7 from https://files.pythonhosted.org/packages/65/58/f9c9e6be752e9fcb8b6a0ee9fb87e6e7a1f6bcab2cdc73f02bb7ba91ada0/tzdata-2024.1-py2.py3-none-any.whl.metadata
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Collecting charset-normalizer<4,>=2 (from requests>=2.31->yfinance)
  Obtaining dependency information for charset-normalizer<4,>=2 from https://files.pythonhosted.org/packages/b6/7c/8debebb4f90174074b827c63242c23851bdf00a532489fba57fef3416e40/charset_normalizer-3.3.2-cp312-cp312-win_amd64.whl.metadata
  Using cached charset_normalizer-3.3.2-cp312-cp312-win_amd64.whl.metadata (34 kB)
Collecting idna<4,>=2.5 (from requests>=2.31->yfinance)
  Obtaining dependency information for idna<4,>=2.5 from https://files.pythonhosted.org/packages/c2/e7/a82b05cf63a603df6e68d59ae6a68bf5064484a0718ea5033660af4b54a9/idna-3.6-py3-none-any.whl.metadata
  Using cached idna-3.6-py3-none-any.whl.metadata (9.9 kB)
Collecting urllib3<3,>=1.21.1 (from requests>=2.31->yfinance)
  Obtaining dependency information for urllib3<3,>=1.21.1 from https://files.pythonhosted.org/packages/a2/73/a68704750a7679d0b6d3ad7aa8d4da8e14e151ae82e6fee774e6e0d05ec8/urllib3-2.2.1-py3-none-any.whl.metadata
  Using cached urllib3-2.2.1-py3-none-any.whl.metadata (6.4 kB)
Collecting certifi>=2017.4.17 (from requests>=2.31->yfinance)
  Obtaining dependency information for certifi>=2017.4.17 from https://files.pythonhosted.org/packages/ba/06/a07f096c664aeb9f01624f858c3add0a4e913d6c96257acb4fce61e7de14/certifi-2024.2.2-py3-none-any.whl.metadata
  Using cached certifi-2024.2.2-py3-none-any.whl.metadata (2.2 kB)
Using cached yfinance-0.2.37-py2.py3-none-any.whl (72 kB)
Using cached appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Using cached beautifulsoup4-4.12.3-py3-none-any.whl (147 kB)
Using cached html5lib-1.1-py2.py3-none-any.whl (112 kB)
Using cached lxml-5.2.0-cp312-cp312-win_amd64.whl (3.8 MB)
Using cached multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Using cached numpy-1.26.4-cp312-cp312-win_amd64.whl (15.5 MB)
Using cached pandas-2.2.1-cp312-cp312-win_amd64.whl (11.5 MB)
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Using cached requests-2.31.0-py3-none-any.whl (62 kB)
Using cached certifi-2024.2.2-py3-none-any.whl (163 kB)
Using cached charset_normalizer-3.3.2-cp312-cp312-win_amd64.whl (100 kB)
Using cached idna-3.6-py3-none-any.whl (61 kB)
Using cached soupsieve-2.5-py3-none-any.whl (36 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Using cached urllib3-2.2.1-py3-none-any.whl (121 kB)
Using cached webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Installing collected packages: webencodings, pytz, peewee, multitasking, appdirs, urllib3, tzdata, soupsieve, numpy, lxml, idna, html5lib, frozendict, charset-normalizer, certifi, requests, pandas, beautifulsoup4, yfinance
Successfully installed appdirs-1.4.4 beautifulsoup4-4.12.3 certifi-2024.2.2 charset-normalizer-3.3.2 frozendict-2.4.1 html5lib-1.1 idna-3.6 lxml-5.2.0 multitasking-0.0.11 numpy-1.26.4 pandas-2.2.1 peewee-3.17.1 pytz-2024.1 requests-2.31.0 soupsieve-2.5 tzdata-2024.1 urllib3-2.2.1 webencodings-0.5.1 yfinance-0.2.37
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script f2py.exe is installed in 'c:\Users\Owner\.pyenv\pyenv-win\versions\3.12.1\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script normalizer.exe is installed in 'c:\Users\Owner\.pyenv\pyenv-win\versions\3.12.1\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script sample.exe is installed in 'c:\Users\Owner\.pyenv\pyenv-win\versions\3.12.1\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: c:\Users\Owner\.pyenv\pyenv-win\versions\3.12.1\python.exe -m pip install --upgrade pip

Collecting tqdm
  Obtaining dependency information for tqdm from https://files.pythonhosted.org/packages/2a/14/e75e52d521442e2fcc9f1df3c5e456aead034203d4797867980de558ab34/tqdm-4.66.2-py3-none-any.whl.metadata
  Downloading tqdm-4.66.2-py3-none-any.whl.metadata (57 kB)
     ---------------------------------------- 0.0/57.6 kB ? eta -:--:--
     ------- -------------------------------- 10.2/57.6 kB ? eta -:--:--
     ------------- ------------------------ 20.5/57.6 kB 330.3 kB/s eta 0:00:01
     --------------------------------- ---- 51.2/57.6 kB 375.8 kB/s eta 0:00:01
     -------------------------------------- 57.6/57.6 kB 378.8 kB/s eta 0:00:00
Requirement already satisfied: colorama in c:\users\owner\.pyenv\pyenv-win\versions\3.12.1\lib\site-packages (from tqdm) (0.4.6)
Using cached tqdm-4.66.2-py3-none-any.whl (78 kB)
Installing collected packages: tqdm
Successfully installed tqdm-4.66.2
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script tqdm.exe is installed in 'c:\Users\Owner\.pyenv\pyenv-win\versions\3.12.1\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: c:\Users\Owner\.pyenv\pyenv-win\versions\3.12.1\python.exe -m pip install --upgrade pip

In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import datetime
import os
import json
from tqdm import tqdm

In [5]:
def fetch_sp500_daily_data():
    sp500_data = yf.download('^GSPC', start='2017-12-20', end='2018-06-10')
    return sp500_data

# Example usage
sp500_data = fetch_sp500_daily_data()
sp500_data = pd.DataFrame(sp500_data)

# Create a new dataframe to store the result
sp500_windows = pd.DataFrame()

# Iterate through each date in the dataframe
for date in sp500_data.index:
    close_values = []
    
    for i in range(-10, 11):
        offset_date = date + pd.DateOffset(days=i)
        if offset_date in sp500_data.index:
            close_value = sp500_data.loc[offset_date, 'Close']
        else:
            close_value = float('nan')
        close_values.append(close_value)
    
    result_row = {'Date': date}
    for i, close_value in zip(range(-10, 11), close_values):
        result_row[f'{i}'] = close_value

    sp500_windows = sp500_windows._append(result_row, ignore_index=True)

[*********************100%%**********************]  1 of 1 completed

In [15]:
# List of directories containing JSON files
directories = ['2018_01', '2018_02', '2018_03', '2018_04', '2018_05']  # Add all your directory paths here

# List to store extracted data
data_list = []

# Loop through directories
for directory in tqdm(directories):
    # List of JSON files in the directory
    json_files = [file for file in os.listdir(directory) if file.endswith('.json')]
        
    # Loop through JSON files in the directory
    for file_name in tqdm(json_files):
        # Read JSON data from file
        with open(os.path.join(directory, file_name), 'r', encoding='utf-8') as f:
            json_data = f.read()
        
        data = json.loads(json_data)

        data_list.append({
            'text': data['text'],
            'published': data['thread']['published'],
            'title': data['thread']['title']
        })

100%|██████████| 57802/57802 [00:11<00:00, 4928.99it/s]
100%|██████████| 64592/64592 [05:29<00:00, 196.18it/s]
100%|██████████| 57456/57456 [05:29<00:00, 174.53it/s]
100%|██████████| 63245/63245 [06:08<00:00, 171.45it/s]
100%|██████████| 63147/63147 [04:11<00:00, 250.92it/s]
100%|██████████| 5/5 [21:30<00:00, 258.18s/it]

In [18]:
# Create DataFrame
news_articles = pd.DataFrame(data_list)
news_articles['published'] = pd.to_datetime(news_articles['published'], utc=True)
news_articles['published'] = news_articles['published'].dt.tz_convert(None)

# Merging the dataframes based on 'published' and 'date' columns
merged_df = pd.merge(news_articles, sp500_windows, left_on='published', right_on='Date', how='inner')

# Dropping the 'date' column as it's redundant
merged_df.drop(columns=['published'], inplace=True)

In [107]:
# Create DataFrame from data_list
news_articles = pd.DataFrame(data_list)

# Convert 'published' column to datetime with timezone information
news_articles['published'] = pd.to_datetime(news_articles['published'], utc=True)
news_articles['published'] = news_articles['published'].dt.tz_convert(None)
news_articles['published'] = pd.to_datetime(news_articles['published'].dt.date)

# Merging the dataframes based on 'published' and 'Date' columns with a left join
merged_df = pd.merge(news_articles, sp500_windows, left_on='published', right_on='Date', how='left')

new_dates = set()

# Calculate the date range for stock prices (-10 to 10 days)
for _, row in tqdm(merged_df.iterrows()):

    # Check if the value in column '0' is NaN
    if pd.isna(row['0']):
        date = row['published']
        new_dates.add(date)
    
        for i in range(-10, 11):
            offset_date = date + pd.DateOffset(days=i)
            if offset_date in sp500_data.index:
                row[f'{i}'] = sp500_data.loc[offset_date, 'Close']
            else:
                row[f'{i}'] = float('nan')

# Dropping the 'Date' column as it's redundant
merged_df.drop(columns=['Date'], inplace=True)

306242it [00:52, 5842.52it/s]

In [108]:
# Initialize a new column 'percent_change' with NaN values
merged_df['percent_change'] = np.nan
merged_df['change'] = np.nan

# Loop through each row
for index, row in merged_df.iterrows():
    # Find the index of the next non-null value to the left of column '0'
    next_non_null_index = None
    for i in range(1, 11):
        if row[str(i)] is not np.nan:
            next_non_null_index = str(i)
            break
    
    prev_non_null_index = None
    for i in range(11):
        if row[str(-i)] is not np.nan:
            prev_non_null_index = str(-i)
            break

    # If next non-null value exists and it's not the first column
    if prev_non_null_index and next_non_null_index:
        # Calculate the percentage change between the value in column '0' and the next non-null value
        change = (row[prev_non_null_index] / row[next_non_null_index]) - 1
        merged_df.at[index, 'percent_change'] = change
        if change > 0:
            merged_df.at[index, 'change'] = 1
        else:
            merged_df.at[index, 'change'] = 0

In [125]:
merged_df = merged_df.dropna(subset=['percent_change'])
merged_df = merged_df.dropna(subset=['text'])

In [126]:
merged_df

,text,published,title,-10,-9,-8,-7,-6,-5,-4,...,3,4,5,6,7,8,9,10,percent_change,change
0,17 Hours Ago | 02:56 \nEmerging markets soared...,2018-01-03,Emerging markets are set for an even bigger ra...,NaN,NaN,2680.500000,2682.620117,2687.540039,2673.610107,NaN,...,NaN,NaN,2747.709961,2751.290039,2748.229980,2767.560059,2786.239990,NaN,-0.004012,0.0
1,Cramer reflects on how Trump's actions are fue...,2018-01-02,Cramer reflects on how Trump's actions are fue...,NaN,NaN,NaN,2680.500000,2682.620117,2687.540039,2673.610107,...,2743.149902,NaN,NaN,2747.709961,2751.290039,2748.229980,2767.560059,2786.23999,-0.006358,0.0
2,"Published: Jan 2, 2018 5:59 p.m. ET Share \nFe...",2018-01-02,The Wall Street Journal: Peter Thiel’s VC firm...,NaN,NaN,NaN,2680.500000,2682.620117,2687.540039,2673.610107,...,2743.149902,NaN,NaN,2747.709961,2751.290039,2748.229980,2767.560059,2786.23999,-0.006358,0.0
3,By Reuters 8:23 AM EST \nTelevision host Hoda ...,2018-01-02,Hoda Kotb Will Replace Matt Lauer on NBC’s ‘To...,NaN,NaN,NaN,2680.500000,2682.620117,2687.540039,2673.610107,...,2743.149902,NaN,NaN,2747.709961,2751.290039,2748.229980,2767.560059,2786.23999,-0.006358,0.0
5,"January 3, 2018 / 12:54 AM / Updated 14 hours ...",2018-01-03,U.S. judge orders government to release Iraqis...,NaN,NaN,2680.500000,2682.620117,2687.540039,2673.610107,NaN,...,NaN,NaN,2747.709961,2751.290039,2748.229980,2767.560059,2786.239990,NaN,-0.004012,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306237,"CHICAGO, May 30, 2018 (GLOBE NEWSWIRE) -- Dres...",2018-05-30,Ejaz Elahi Rejoins Dresner Partners as Managin...,NaN,2733.010010,2724.439941,2733.290039,2727.760010,2721.330078,NaN,...,NaN,NaN,2746.870117,2748.800049,2772.350098,2770.370117,2779.030029,NaN,0.006927,1.0
306238,"May 31, 2018 / 7:59 AM / Updated 2 minutes ago...",2018-05-31,UPDATE 1-Japan Post Insurance ready to buy sho...,2733.01001,2724.439941,2733.290039,2727.760010,2721.330078,NaN,NaN,...,NaN,2746.870117,2748.800049,2772.350098,2770.370117,2779.030029,NaN,NaN,-0.010733,0.0
306239,"SHANGHAI, China, May 31, 2018 (GLOBE NEWSWIRE)...",2018-05-31,GDS Holdings Limited Prices Offering of Conver...,2733.01001,2724.439941,2733.290039,2727.760010,2721.330078,NaN,NaN,...,NaN,2746.870117,2748.800049,2772.350098,2770.370117,2779.030029,NaN,NaN,-0.010733,0.0
306240,Nathan Eovaldi threw six no-hit innings in his...,2018-05-31,Major League Baseball roundup: Rays' Eovaldi d...,2733.01001,2724.439941,2733.290039,2727.760010,2721.330078,NaN,NaN,...,NaN,2746.870117,2748.800049,2772.350098,2770.370117,2779.030029,NaN,NaN,-0.010733,0.0
306241,NEW YORK--(BUSINESS WIRE)-- Pomerantz LLP anno...,2018-05-31,SHAREHOLDER ALERT: Pomerantz Law Firm Reminds ...,2733.01001,2724.439941,2733.290039,2727.760010,2721.330078,NaN,NaN,...,NaN,2746.870117,2748.800049,2772.350098,2770.370117,2779.030029,NaN,NaN,-0.010733,0.0

In [127]:
# Write to CSV
merged_df.to_csv('news_and_stocks.csv', index=False)

In [124]:
merged_df[merged_df['published'] == '2018-01-01']
merged_df[pd.isna(merged_df['percent_change'])]

,text,published,title,-10,-9,-8,-7,-6,-5,-4,...,3,4,5,6,7,8,9,10,percent_change,change
4,"January 1, 2018 / 8:56 AM / Updated 5 hours ag...",2018-01-01,UK's Compass says new CEO to start Jan 1 after...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
10,Bitcoin is already having a bad year.\nFor the...,2018-01-01,Bitcoin Is Already Having a Bad Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
12,"Retail American Girl Debuts New Doll, an Aspir...",2018-01-01,"American Girl Debuts New Doll, an Aspiring Ast...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
25,Copper prices set to continue gains in 2018 20...,2018-01-01,Copper prices set to continue gains in 2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
39,There's a risk of 'collision of intent' on Nor...,2018-01-01,There's a risk of 'collision of intent' on Nor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305732,May 28 (Reuters) - Centrais Eletricas Brasilei...,2018-05-28,BRIEF-Brazil's Eletrobras says board approved ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
305944,* STOXX 600 down 0.3 pct\n* Italian banks suff...,2018-05-28,UPDATE 1-Italian stocks' recovery short-lived ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
305945,"LONDON, May 28 (Reuters) - Italian bonds, stoc...",2018-05-28,Italian markets rally as eurosceptic coalition...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
305946,Venture Capital A Chinese bank chairman was fo...,2018-05-28,Chinese bank chief found dead inside his office,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
305970,ROME (Reuters) - Italy’s anti-establishment 5-...,2018-05-28,Italy's 5-Star considers election alliance wit...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [123]:
set1 = set(new_dates)
set2 = set(merged_df[pd.isna(merged_df['percent_change'])]['published'].unique())
print(len(set1))
print(len(set2))
len(set1.intersection(set2))

56
79

56

In [100]:
sp500_windows

,Date,-10,-9,-8,-7,-6,-5,-4,-3,-2,...,1,2,3,4,5,6,7,8,9,10
0,2017-12-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2684.570068,2683.340088,NaN,NaN,NaN,2680.500000,2682.620117,2687.540039,2673.610107,NaN
1,2017-12-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2683.340088,NaN,NaN,NaN,2680.500000,2682.620117,2687.540039,2673.610107,NaN,NaN
2,2017-12-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2679.250000,...,NaN,NaN,NaN,2680.500000,2682.620117,2687.540039,2673.610107,NaN,NaN,NaN
3,2017-12-26,NaN,NaN,NaN,NaN,2679.250000,2684.570068,2683.340088,NaN,NaN,...,2682.620117,2687.540039,2673.610107,NaN,NaN,NaN,2695.810059,2713.060059,2723.989990,2743.149902
4,2017-12-27,NaN,NaN,NaN,2679.250000,2684.570068,2683.340088,NaN,NaN,NaN,...,2687.540039,2673.610107,NaN,NaN,NaN,2695.810059,2713.060059,2723.989990,2743.149902,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,2018-06-04,2721.330078,NaN,NaN,NaN,2689.860107,2724.010010,2705.270020,2734.620117,NaN,...,2748.800049,2772.350098,2770.370117,2779.030029,NaN,NaN,NaN,NaN,NaN,NaN
113,2018-06-05,NaN,NaN,NaN,2689.860107,2724.010010,2705.270020,2734.620117,NaN,NaN,...,2772.350098,2770.370117,2779.030029,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,2018-06-06,NaN,NaN,2689.860107,2724.010010,2705.270020,2734.620117,NaN,NaN,2746.870117,...,2770.370117,2779.030029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,2018-06-07,NaN,2689.860107,2724.010010,2705.270020,2734.620117,NaN,NaN,2746.870117,2748.800049,...,2779.030029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,2018-06-08,2689.860107,2724.010010,2705.270020,2734.620117,NaN,NaN,2746.870117,2748.800049,2772.350098,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
test = pd.read_csv('news_and_stocks.csv')
test

,text,published,title,-10,-9,-8,-7,-6,-5,-4,...,3,4,5,6,7,8,9,10,percent_change,change
0,17 Hours Ago | 02:56 \nEmerging markets soared...,2018-01-03,Emerging markets are set for an even bigger ra...,NaN,NaN,2680.500000,2682.620117,2687.540039,2673.610107,NaN,...,NaN,NaN,2747.709961,2751.290039,2748.229980,2767.560059,2786.239990,NaN,-0.004012,0.0
1,Cramer reflects on how Trump's actions are fue...,2018-01-02,Cramer reflects on how Trump's actions are fue...,NaN,NaN,NaN,2680.500000,2682.620117,2687.540039,2673.610107,...,2743.149902,NaN,NaN,2747.709961,2751.290039,2748.229980,2767.560059,2786.23999,-0.006358,0.0
2,"Published: Jan 2, 2018 5:59 p.m. ET Share \nFe...",2018-01-02,The Wall Street Journal: Peter Thiel’s VC firm...,NaN,NaN,NaN,2680.500000,2682.620117,2687.540039,2673.610107,...,2743.149902,NaN,NaN,2747.709961,2751.290039,2748.229980,2767.560059,2786.23999,-0.006358,0.0
3,By Reuters 8:23 AM EST \nTelevision host Hoda ...,2018-01-02,Hoda Kotb Will Replace Matt Lauer on NBC’s ‘To...,NaN,NaN,NaN,2680.500000,2682.620117,2687.540039,2673.610107,...,2743.149902,NaN,NaN,2747.709961,2751.290039,2748.229980,2767.560059,2786.23999,-0.006358,0.0
4,"January 3, 2018 / 12:54 AM / Updated 14 hours ...",2018-01-03,U.S. judge orders government to release Iraqis...,NaN,NaN,2680.500000,2682.620117,2687.540039,2673.610107,NaN,...,NaN,NaN,2747.709961,2751.290039,2748.229980,2767.560059,2786.239990,NaN,-0.004012,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228383,"CHICAGO, May 30, 2018 (GLOBE NEWSWIRE) -- Dres...",2018-05-30,Ejaz Elahi Rejoins Dresner Partners as Managin...,NaN,2733.010010,2724.439941,2733.290039,2727.760010,2721.330078,NaN,...,NaN,NaN,2746.870117,2748.800049,2772.350098,2770.370117,2779.030029,NaN,0.006927,1.0
228384,"May 31, 2018 / 7:59 AM / Updated 2 minutes ago...",2018-05-31,UPDATE 1-Japan Post Insurance ready to buy sho...,2733.01001,2724.439941,2733.290039,2727.760010,2721.330078,NaN,NaN,...,NaN,2746.870117,2748.800049,2772.350098,2770.370117,2779.030029,NaN,NaN,-0.010733,0.0
228385,"SHANGHAI, China, May 31, 2018 (GLOBE NEWSWIRE)...",2018-05-31,GDS Holdings Limited Prices Offering of Conver...,2733.01001,2724.439941,2733.290039,2727.760010,2721.330078,NaN,NaN,...,NaN,2746.870117,2748.800049,2772.350098,2770.370117,2779.030029,NaN,NaN,-0.010733,0.0
228386,Nathan Eovaldi threw six no-hit innings in his...,2018-05-31,Major League Baseball roundup: Rays' Eovaldi d...,2733.01001,2724.439941,2733.290039,2727.760010,2721.330078,NaN,NaN,...,NaN,2746.870117,2748.800049,2772.350098,2770.370117,2779.030029,NaN,NaN,-0.010733,0.0
228387,NEW YORK--(BUSINESS WIRE)-- Pomerantz LLP anno...,2018-05-31,SHAREHOLDER ALERT: Pomerantz Law Firm Reminds ...,2733.01001,2724.439941,2733.290039,2727.760010,2721.330078,NaN,NaN,...,NaN,2746.870117,2748.800049,2772.350098,2770.370117,2779.030029,NaN,NaN,-0.010733,0.0